<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>
<b>Without date formatting: {{.}}</b>
<hr>
<b>With date formatting: {{fdateMDY .}}</b>
</body>
</html>